*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #EAF6FF, #FFFFFF);

}
.top{
    
     justify-content: center;
     text-align: center;
     align-items: center;
     margin: 20px;
     padding: 20px;
     
}
.top img {

height: auto;
width: 80px;
justify-content: space-evenly;

}
h2{
    justify-content:center;
    align-items: center;
    text-align: center;
}
h1{
    
        justify-content: center;
    align-items: center;
    text-align: center;
}

.book > img,.book2>img{
    height: auto;
    width: 90%;
    display: block;
    max-width: 700px;
margin:20px  auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
}

.forms{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 90%;
    margin: auto;
}


.forms img{
    height: 25px;
    width: 25px;
}
.item img{
    height: 25px;
    width: 25px;
}
.item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
 .btn{
    background-color: black;
    padding: 5px;
    font-size: 2rem;
    color: white;
    margin-top: 15px;
    border-radius: 12px;
    cursor: pointer;
}

.btn2{
   background-color: rgb(173, 221, 61);
   padding: 5px;
   font-size: 2rem;
   color: white;
   margin-top: 15px;
   border-radius: 12px;
   cursor: pointer;
}

    @media (max-width:768px){

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.2rem;
    }

    .forms{
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .item{
        width: 100%;
        justify-content: flex-start;
    }

    .btn,
    .btn2{
        width: 100%;
        font-size: 1.2rem;
    }
}

    
